.App {
  text-align: center;
  width: 50%;
  height: 35rem;
  border: solid;
  margin: 20px;
}

.navbar {
  background-color: darkblue;
  color: white;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: large;
}

.btn-save {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 40px 40px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "item1 item3"
    "item2 item3";
  border: solid;
}

.item1 {
  grid-area: item1;
  text-align: left;
  margin-left: 20px;
  /* vertical-align: super; */
}

.item2 {
  grid-area: item2;
  text-align: left;
  margin-left: 20px;
  /* vertical-align: super; */
}

.item3 {
  grid-area: item3;
  text-align: center;
  text-align: right;
  /* margin-right: 20px; */
  /* vertical-align: text-bottom; */
  
}